@media (pointer: coarse) {
  .mouse-cursor {
    display: none;
  }
}

.cursor-light {
  background: radial-gradient(rgba(50, 162, 199, 0.15), transparent 70%);
}

.cursor-dark {
  background: radial-gradient(rgba(50, 162, 199, 0.1), transparent 70%);
}
