@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .bg-main-dark {
    background-color: #171717;

    background-image: radial-gradient(
        circle at top right,
        rgba(33, 163, 211, 0.15) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at bottom center,
        rgba(33, 92, 211, 0.15) 0%,
        transparent 80%
      ),
      radial-gradient(#171717 50%, transparent),
      radial-gradient(hsl(var(--heroui-divider)) 0.1rem, transparent 0.1rem);

    background-size: 100% 100%, 100% 100%, 100% 100%, 3rem 3rem;
    background-attachment: fixed, fixed, fixed, fixed, fixed;
  }
  .bg-main-light {
    background-color: #ffffff;

    background-image: radial-gradient(
        circle at top right,
        rgba(33, 163, 211, 0.25) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at bottom center,
        rgba(33, 92, 211, 0.25) 0%,
        transparent 80%
      ),
      radial-gradient(#ffffff 50%, transparent),
      radial-gradient(hsl(var(--heroui-divider)) 0.1rem, transparent 0.1rem);

    background-size: 100% 100%, 100% 100%, 100% 100%, 3rem 3rem;
    background-attachment: fixed, fixed, fixed, fixed, fixed;
  }

  .bg-background-dark-100 {
    background: radial-gradient(
        circle at top right,
        rgba(33, 163, 211, 0.15) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at bottom center,
        rgba(33, 92, 211, 0.15) 0%,
        transparent 80%
      ),
      #1f232b;
  }
  .bg-background-dark-200 {
    background: radial-gradient(
        circle at top right,
        rgba(33, 163, 211, 0.1) 0%,
        transparent 50%
      ),
      radial-gradient(
          circle at bottom center,
          rgba(33, 92, 211, 0.1) 0%,
          transparent 80%
        )
        #171717;
  }
  .card-outline-dark {
    border: 1px solid hsl(var(--heroui-divider));
    outline: 7px solid hsl(var(--heroui-divider) / 0.3);
    outline-offset: 0;
  }

  .bg-background-light-100 {
    background: radial-gradient(
        circle at top right,
        rgba(33, 163, 211, 0.1) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at bottom center,
        rgba(33, 92, 211, 0.1) 0%,
        transparent 80%
      ),
      #ffffff;
  }
  .bg-background-light-200 {
    background: radial-gradient(
        circle at top right,
        rgba(33, 163, 211, 0.15) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at bottom center,
        rgba(33, 92, 211, 0.15) 0%,
        transparent 80%
      ),
      #f7f7f7;
  }
  .card-outline-light {
    border: 1px solid hsl(var(--heroui-divider));
    outline: 7px solid hsl(var(--heroui-divider) / 0.2);
    outline-offset: 0;
  }

  @supports (scrollbar-color: auto) {
    .scrollbar-dark {
      scrollbar-color: #33a1c7 #171717;
      scrollbar-width: thin;
    }
    .scrollbar-light {
      scrollbar-color: #33a1c7 #ffffff;
      scrollbar-width: thin;
    }
  }

  .bg-primary-gradient {
    background-image: linear-gradient(to top right, #3f6394, #2dbfe0);
  }
}

@keyframes line-light {
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #273450;
  }
}
@keyframes line-dark {
  70% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
  }
}
